<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>Create or Update Article:</h1>

{{ form_start(form) }}

<table>
  <tbody>
    <tr>
      <th>Nom:</th>
      <td>{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <th>Prenom:</th>
      <td>{{ form_widget(form.prenom) }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ form_widget(form.email) }}</td>
    </tr>
    <tr>
      <th>ville:</th>
      <td>{{ form_widget(form.ville) }}</td>
    </tr>
    <tr>
      <th>moyen:</th>
      <td>{{ form_widget(form.moyen) }}</td>
    </tr>
     <tr>
      <th>Date de depart:</th>
      <td>{{ form_widget(form.datededepart) }}</td>
    </tr>
    <tr>
      <th>Date de retour:</th>
      <td>{{ form_widget(form.datederetour) }}</td>
    </tr>
     <tr>
      <th>heure de depart:</th>
      <td>{{ form_widget(form.heurededepart) }}</td>
    </tr>
    <tr>
      <th>heure de retour:</th>
      <td>{{ form_widget(form.heurederetour) }}</td>
    </tr>
    <tr>
      <th></th>
      <td>{{ form_widget(form.save) }}</td>
    </tr>
  </tbody>
</table>

{{ form_end(form) }}

