<style>
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
</style>

<h1>All Articles</h1>

{% if articles is not empty %}
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Ville</th>
      <th>Moyen</th>
      <th>Date de depart</th>
      <th>Date de retour</th>
      <th>heure de depart</th>
      <th>heure de retour</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
  {% for article in articles %}
  <tr>
    <td>{{ Personnes.nom }}</td>
    <td>{{ Personnes.prenom }}</td>
    <td>{{ Personnes.email }}</td>
    <td>{{ ville.ville }}</td>
    <td>{{ moyen.moyen }}</td>
    <td>{{ Personnes.datededepart }}</td>
    <td>{{ Personnes.datederetour }}</td>
    <td>{{ Personnes.heurededepart }}</td>
    <td>{{ Personnes.heurederetour }}</td>
    <td><a href="delete-detail/{{ Personnes.id }}">Delete</a></td>
    <td><a href="update-detail/{{ Personnes.id }}">Update</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No detail found.</p>
{% endif %}

<br/>
<a href="/create-list">Create New</a>
